::-webkit-scrollbar {
    width: 0px;
}

@font-face {
    font-display: swap;
    font-family: 'Manrope-400';
    font-style: normal;
    font-weight: 400;
    src: url('../public/font/manrope-v15-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope-500';
    font-style: normal;
    font-weight: 500;
    src: url('../public/font/manrope-v15-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope-700';
    font-style: normal;
    font-weight: 700;
    src: url('../public/font/manrope-v15-latin-700.woff2') format('woff2');
}

.container {
    max-width: 1100px;
    margin: 0px auto;
}


#nav ul li a {
    font-family: 'Manrope-700';
    font-size: 13px;
}

header {
    background: #131313;
}



header .card {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

header .card .left {
    width: 398px;
}

header .card p {
    font-family: 'Manrope-400';
}

header .card p:nth-child(1) {
    font-family: 'Manrope-400';
    font-size: 14px;
    letter-spacing: 10px;
}

header .card h1 {
    margin-top: 24px;
    font-size: 56px;
    line-height: 58px;
    color: #fff;
    font-family: 'Manrope-700';
}

header .card .left p {
    margin-top: 24px;
    font-family: 'Manrope-400';
    line-height: 25px;
    font-size: 15px;
    width: 339px;
}

header .card .left button {
    transition: all .5s ease;
}

header .card .left button {
    margin-top: 40px;
    transition: all .5s ease;
}


main {
    background: #FAFAFA;
    padding-bottom: 200px;
    padding-top: 100px;
}
main .card .bottom{
    margin-top: 56px;
    margin-bottom: 160px;
}
main .card .bottom .left {
    margin-top: 65;
    width: 540px;
    background-color: #F1F1F1;
    border-radius: 8px;
    padding: 65px 95px;
}

main .card .bottom .right{
    width: 445.5px;
}

main .card .card2{
    width: 300px;
}





main .bottom .right {
    width: 445px;
}

main .bottom .right h1 {
    margin-top: 24px;
    font-size: 56px;
    line-height: 58px;
    color: #000;
    font-family: 'Manrope-700';
}

main .bottom .right p:nth-child(1) {
    font-family: 'Manrope-400';
    font-size: 14px;
    letter-spacing: 10px;
    color: #D87D4A;
}

main .bottom .right p {
    margin-top: 24px;
    font-family: 'Manrope-400';
    line-height: 25px;
    font-size: 15px;
    width: 339px;
    margin-bottom: 20px;
}

main .bottom .right button {
    transition: all .5s ease;
}


main .bottom .right .p1{
    font-family: 'Manrope-700';
    font-size: 18px;
}







    .row {
        text-align: center;
        margin: 0 auto;
        padding: 20px 0;
    }

    .number {
        display: inline-block;
        position: relative;
        width: 120px;
        color:#000;
    }

    .number input[type="number"] {
        display: block;
        height: 45px;
        line-height: 32px;
        background-color:#F1F1F1;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
        outline: none;
    }

    .number input[type="number"]::-webkit-outer-spin-button,
    .number input[type="number"]::-webkit-inner-spin-button {
        display: none;
    }

.number-minus {
position: absolute;
top: 1px;
left: 1px;
bottom: 1px;
width: 20px;
padding: 0;
display: block;
text-align: center;
border: none;
color: #bca7a7;
font-size: 16px;
font-weight: 600;
}

.number-plus {
position: absolute;
top: 1px;
right: 1px;
bottom: 1px;
width: 20px;
color: #bca7a7;
padding: 0;
display: block;
text-align: center;
border: none;
font-size: 16px;
font-weight: 600;
}








main .card1 .left{
    width: 635px; 

}

main .card1 .left p{
margin-bottom: 50px;
}
main .card1  h1{
    color:#000000;
    font-family: 'Manrope-700';
    text-transform: uppercase;
}
main .card1 .right ul{
display: flex;
gap: 24px;
padding-bottom: 15px;
font-size: 15px;

}

main .card1 .right .p2{
    font-family: 'Manrope-700';
}
main .card1 .right p{
    font-family: 'Manrope-400';
}



main .block1 {
    padding-top: 120px;
}

main .block1 .left h1 {
    font-family: 'Manrope-700';
}

main .block1 .left {
    width: 350px;
    height: 234px;
    background: #F1F1F1;
    border-radius: 20px;
    padding-bottom: 30px;
}


main .block5 {
    margin-top: 200px;
}

main .block5 .left {
    width: 435px;
}

main .block5 .left h1 {
    font-family: 'Manrope-700';
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
    color: #131313;
    margin-bottom: 32px;
}

main .block5 .left h1 span {
    color: #D87D4A;
}

main .block5 .left p {
    font-family: 'Manrope-400';
    color: gray;
    line-height: 25px;
    font-size: 15px;
}



main .card3  .img{
    background: #F1F1F1;
    padding: 62px 87px;
    border-radius:8px;
}

main .card3 .p3{
    font-family: 'Manrope-700';
    font-size: 24px;
    color: #000;
    margin: 0%;
}
main .card3 h1{
    text-transform: uppercase;
    color: #000;
    font-family: 'Manrope-700';
    font-size: 32px;
    margin-top:50px;
    margin-bottom:50px;
}
.card3 .bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
} 
.card3 .bottom button {
    transition: all .5s ease;
}



























footer {
    padding-top: 75px;
    background-color: #131313;
}

footer .top {
    display: flex;
    justify-content: space-between;
}

footer .bottom {
    margin-top: 36px;
}

footer .top .right a {
    font-family: 'Manrope-700';
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all .5s ease;
}

footer .top .right a:hover {
    color: #f1f1f18e;
}

footer .bottom .left {
    width: 540px;

}